@media (min-width: 768px){
    .hero-content-container {
        flex: 1;
        min-width: 472px;
    }
}

.hero-text-container {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    z-index: 1;
    padding-top: 24px;
}

.hero-title {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.015em;
    line-height: 50px;
}

@media (min-width: 768px){
    .hero-title {
        font-size: 64px;
        font-weight: 700;
        letter-spacing: -0.015em;
        line-height: 74px;
    }
}

.ds-text-medium {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.ds-margin-top-12 {
    margin-top: 12px;
}